@import './common/lib.less';
@import '~antd/dist/antd.css';
body{
    background: rgb(171, 235, 171);
    #app{
        height: 100%;
        display: flex;
        #Router{
            margin: auto;
            display: flex;
            
            .homebox{
                display: flex;
                margin: auto;
                width: 400px;
                justify-content: space-between;
                
            }
        }
    }
    
    
}