<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
        <div v-if="num >= 0">
            随机数
            <!-- 当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级。 -->
            <div v-for='(item,index) in arr' v-if="num === index">
                {{item}}
            </div>
        </div>
        <h1 v-show="ok">Hello!</h1>
        <button @click='ojbk'>Button</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./app.js"></script>

</html>